{% extends 'index.html' %}
{% block title %} Admin Dash Board {% endblock %}

{% block navbar %}
{% include 'admin-navbar.html' %}
{% endblock %}

{% block content %}
<center>
    {% if request_path.rstrip('/') in ["/admindb","/Admin_Login"] %}
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    {% for category,message in messages %}
    <p class="flash-message {{ category }}">{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% endif %}
    <div id="adminsub">

        {% for subject in Subjects %}
        <table>

            <tr>

                <td>
                    <h1>{{ subject.sub_name }}</h1>
                </td>
                <td><a href="{{ url_for('edit_subject',sub_id=subject.sub_id) }}" class="icon-button edit-btn"><i
                            class="fa fa-edit"></a></td>
                <td><a href="{{ url_for('delete_subject',sub_id=subject.sub_id) }}" class="icon-button delete-btn"><i
                            class="fa fa-trash"></i></a></td>
            </tr>

            <tr>
                <th>Chapters</th>
                <th>No.of Quiz</th>
                <th>action</th>
            </tr>

            {% for chapter in Chapters %}
            {% if chapter.sub_id==subject.sub_id %}
            <tr>
                <td>{{ chapter.chap_title }}</td>

                <td>{{ quiz | selectattr("chap_id", "equalto", chapter.chap_id) | list | length }}</td>

                <td><a href="{{ url_for('edit_chapter',chap_id=chapter.chap_id,sub_id=subject.sub_id) }}"><i
                            class="fa fa-edit"></i></a>
                    <a href="{{ url_for('delete_chapter',chap_id=chapter.chap_id,sub_id=subject.sub_id) }}"><i
                            class="fa fa-trash"></i></a>
                </td>
            </tr>
            {% endif %}
            {% endfor %}

            <tr>

                <td>
                    <a href="{{ url_for('create_chapter',sub_id=subject.sub_id) }}">
                        <input type="button" value="Add Chapter">
                    </a>
                </td>

            </tr>
            <tr>
                <td><button onclick="Description('description-{{subject.sub_id}}')">Description</button></td>
            </tr>

            <tr class="description-{{ subject.sub_id }}" style="display: none;">
                <td class="description-head">Subject Description:</td>
                <td colspan="2" class="description">{{ subject.sub_Description }}</td>
                <td></td>
                
            </tr>
            <tr class="description-{{ subject.sub_id }}" style="display: none;">
                <td class="description-head">Quiz Description:</td>
                <td colspan="2" class="description">{{ subject.sub_quiz_descrip }}</td>
                <td></td>
            </tr>
        </table>
        {% endfor %}

    </div>
    <div>
        <table>
            <tr>
                <td></td>
                <td><a href="{{ url_for('create_subject') }}"><input type="button" value="Add Subject"></a></td>
            </tr>
        </table>
    </div>

</center>


{% endblock %}