{% extends 'index.html' %}
{% block title %} Admin Dash Board {% endblock %}
{% block navbar %}

<div id="navbar" class="admin-navbar">
    <div id="home" class="admin-home">
        <a href="{{ url_for('admindb') }}">home</a>
    </div>
    <div id="quiz" class="admin-quiz">
        Quiz
    </div>
    <div id="summary" class="admin-summary">
        Summary
    </div>
    <div id="logout" class="User-logout">
        <a href="{{ url_for('Admin_Logout') }}">Logout</a>
    </div>
    <div id="search" class="admin-search">
        <input type="search" placeholder="Search here">
    </div>
    <div>Welcome {{ user }}</div>
</div>
{% endblock %}

{% block content %}
<center>
    <div id="adminsub">
        <table>
            <tr>
                <td></td>
                <td>PHYSICS</td>
                <td></td>
            </tr>
            <tr>
                <td>Chapter Name</td>
                <td>No.of Questions</td>
                <td>Action</td>
            </tr>
            <tr>
                <td></td>
                <td><input type="button" value="+ Chapter"></td>
            </tr>
        </table>
        <button type="button">+</button>

    </div>

</center>


{% endblock %}