{% extends 'index.html' %}

{% block title %} {{ action }} Chapter {% endblock %}

{% block navbar %}
{% include 'admin-navbar.html' %}
{% endblock %}

{% block content %}
<center>
    <h2>{{ action }} Chapter</h2>
    <form method="POST">
        <div>
            <table>
                {% if request_path.rstrip('/') == "/admindb/create_chapter"  %}
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
                {% endif %}
                {% endwith %}
                {% endif %}
                <tr>
                    <td>
                        <label for="new_chap_name">Chapter Name:</label>
                    </td>
                    <td>
                        <input type="text" id="new_chap_name" name="new_chap_name"
                            value="{{ chapter.chap_title if chapter else '' }}" required>
                    </td>
                </tr>
                <tr>
                    <td>
                    <label for="new_chap_descrip">Description:</label>
                </td>
                <td>
                    <textarea id="new_chap_descrip" name="new_chap_descrip"required>{{ chapter.chap_description if chapter else '' }}</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                    <input type="submit" value="{{ action }} Chapter">
                </td>
                <td><a href="{{ url_for('admindb') }}"><button type="button" >Cancel</button></a></td>

                </tr>
            </table>
        </div>
    </form>
</center>
{% endblock %}