{% extends 'index.html' %}
{% block title %} Question {{ action }} {% endblock %}

{% block navbar %}
{% include "admin-navbar.html" %}
{% endblock %}

{% block content %}
<center>
    <h2> {{ action }} Question </h2>
    <form method="POST" action="">
        <div>
            <table>
                <tr>
                    <td><label for="quiz_title">Quiz Title:</label></td>
                    <td>
                        <input type="text" name="quiz_title" id="quiz_title" value="{{ quiz.quiz_title  }}" readonly>
                    </td>
                </tr>

                <tr>
                    <td><label for="ques_title">Question Title:</label></td>
                    <td>
                        <input type="text" name="ques_title" id="ques_title" value="{{ question.ques_title  }}"
                            required>

                    </td>
                </tr>
                <tr>
                    <td><label for="ques_statement">Question Statement:</label></td>
                    <td>
                        <textarea name="ques_statement" id="ques_statement"
                            required>{{ question.ques_statement }}</textarea>
                    </td>
                </tr>
            </table>

            <table>
                <thead>
                    <tr>
                        <th>Single Option Correct</th>
                    </tr>
                </thead>
                <tbody id="options-container">
                   
                    

                    {% for option in question.options %}
                        <tr>
                            <td>
                                <input type="text" name="options[]" value="{{ option.op_statement }}" required>
                            </td>
                            {% if loop.index > 2 %}
                            <td>
                                <button type="button" onclick="del(event)">Delete</button>
                            </td>
                            {% endif %}
                        </tr>
                        
                        {% endfor %}
                    <tr id="last-row">
                        <td>
                            <button type="button" onclick="add_option()">Add Option</button>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="correctoption">Correct Option</label>
                            <input type="text" id="correctoption" name="correctoption"
                                placeholder="Please type the correct answer" value="{{ question.correct_option }}"
                                required>
                        </td>
                    </tr>



                </tbody>
            </table>


            <input type="submit" value="Save"></td>
            <a href="{{ url_for('quiz_dashboard') }}"><button type="button">Cancel</button></a>
        </div>
    </form>

    <script>
        function add_option() {
            let optionsContainer = document.getElementById("options-container");
            let newRow = document.createElement("tr");
            let newCell = document.createElement("td");
            let newInput = document.createElement("input");
            let newDelete = document.createElement("td");
            let lastrow = document.getElementById("last-row");
            let optionnum = optionsContainer.getElementsByTagName("tr").length - 1;
            let label = document.createElement("label");

            newDelete.innerHTML = "<button type=button onclick='del(event)'>Delete</button>"
            newInput.setAttribute("type", "text");
            newInput.setAttribute("name", "options[]");
            newInput.setAttribute("id", optionnum);
            newInput.required = true;



            label.textContent = "Option " + optionnum;
            label.setAttribute("for", optionnum);


            newCell.appendChild(label);
            newCell.appendChild(newInput);

            newRow.appendChild(newCell);
            newRow.appendChild(newDelete);
            optionsContainer.insertBefore(newRow, lastrow);
        }
        function del(event) {
            event.target.closest('tr').remove();

        }
        function autoincre(num) {
            return num++;

        }
    </script>
</center>
{% endblock %}