{% extends "index.html" %}
{% block title %} User Login Page {% endblock %}
{% block content %}

<center>

    <div>

        <h1>Welcome to Quiz Master</h1>
        <h3>Log in Page</h3>
        <form method="POST">
            <table>
                <tr>
                    {% if request_path.rstrip('/') == "/Login" %}
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                    <p>{{ message }}</p>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    {% endif %}
                </tr>
                <tr>
                    <td><label for="email">Username:</label></td>
                    <td><input type="email" placeholder="Email-ID" id="email" name="email" required></td>
                </tr>
                <tr>
                    <td><label for="password">Password:</label></td>
                    <td><input type="password" placeholder="Enter your password" id="password" name="password" required>
                    </td>
                </tr>
                <tr>
                    <td><input type="submit" value="Log in"></td>
                    <td><a href="{{ url_for('registration') }}"><input type="button" value="Registration"></a></td>
                    <td><a href="{{ url_for('Admin_Login') }}"><input type="button" value="Admin Login"></a></td>
                </tr>
            </table>
        </form>

    </div>
</center>
{% endblock %}