{% extends "index.html" %}
{% block title %} User Login Page {% endblock %}
{% block content %}

<center>

    <div>

        <h1>Welcome to Quiz Master</h1>
        <h3>Log in Page</h3>
        <form method="POST">
            {% if request_path.rstrip('/') in ["/registration","/Login","/Logout","/userdb","/scores"] or request_path.startswith('/userdb/user_summary/') or request_path.startswith('/userdb/user_view_quiz/') or request_path.startswith('/userdb/user_start_quiz/') %}
            {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
            {% for category,message in messages %}
            <p class="flash-message {{ category }}">{{ message }}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}
            {% endif %}

            <table>
                <tr>
                    <td><label for="email" class="Username-login">Username:</label></td>
                    <td colspan="2"><input type="email" placeholder="Email-ID" id="email" name="email" required></td>

                </tr>
                <tr>
                    <td><label for="password" class="password-login">Password:</label></td>
                    <td colspan="2"><input type="password" placeholder="Enter your password" id="password"
                            name="password" required>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Log in"></td>
                    <td><a href="{{ url_for('registration') }}"><input type="button" value="Registration"></a></td>
                    <td><a href="{{ url_for('Admin_Login') }}"><input type="button" value="Admin Login"></a></td>
                </tr>
            </table>
        </form>

    </div>
</center>
{% endblock %}