{% extends 'index.html' %}
{% block title %} Quiz Dash Board {% endblock %}

{% block navbar %}
{% include "admin-navbar.html" %}
{% endblock %}

{% block content %}
<center>
    <div id="quizdashboard">
        {% for quiz in quizzes %}
        <table>
            <tr>

                <td>{{ quiz.quiz_title }}</td>
                <td><a href="{{ url_for('edit_quiz',quiz_id=quiz.quiz_id) }}"><i class="fa fa-edit"></i></a>
                    <a href="{{ url_for('delete_quiz',quiz_id=quiz.quiz_id) }}"><i class="fa fa-trash"></i></a>
                </td>
            </tr>

            <tr>
                <td>Quiz Id</td>
                <td>Question Title</td>
                <td>Action</td>
            </tr>

            {% for question in Question %}
            {% if question.quiz_id == quiz.quiz_id %}
            <tr>
                <td>{{ question.quiz_id }}</td>
                <td>{{ question.quiz_title }}</td>
                
            </tr>
            {% endif %}
            {% endfor %}
            <tr>
                <td></td>
                <td><a href="{{ url_for('create_question') }}"><input type="button"
                            value="Add Question"></a></td>
            </tr>
           
        </table>
        {% endfor %}
    </div>
    <div>
        <table>
            <tr>
                <td></td>
                <td><a href="{{ url_for('create_quiz') }}"><input type="button" value="Add quiz"></a></td>
            </tr>
        </table>
    </div>
</center>
{% endblock %}