{% extends 'index.html' %}
{% block title %} Quiz Dash Board {% endblock %}

{% block navbar %}
{% include "admin-navbar.html" %}
{% endblock %}

{% block content %}

<center>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div id="quizdashboard">
        {% for quiz in quizzes %}
        <table>
            <tr>
                
                <td colspan="2"><h1>{{ quiz.quiz_title }}</h1></td>
                
                <td>
                    <a href="{{ url_for('edit_quiz',quiz_id=quiz.quiz_id) }}"><i class="fa fa-edit"></i></a>
                    <a href="{{ url_for('delete_quiz',quiz_id=quiz.quiz_id) }}"><i class="fa fa-trash"></i></a>
                    </td>
            </tr>

            <tr>
                <th>No.</th>
                <th style="white-space: nowrap;">Question Title</th>
                <th>Action</th>
            </tr>
            {% set ns = namespace(question_no=0) %}
            {% for question in Question %}
            {% if question.quiz_id == quiz.quiz_id %}
            {% set ns.question_no = ns.question_no + 1 %}
            <tr>
                <td style="text-align: center;">{{ ns.question_no }}</td>
                <td>{{ question.ques_title }}</td>
                <td><a href="{{ url_for('edit_question',quiz_id=quiz.quiz_id,question_id=question.ques_id) }}"><i class="fa fa-edit"></i></a>
                    <a href="{{ url_for('delete_question',question_id=question.ques_id) }}"><i class="fa fa-trash"></i></a>
                </td>
                
            </tr>
            {% endif %}
            {% endfor %}
            <tr>
                
                <td colspan="3" style="text-align: center;"><a href="{{ url_for('create_question',quiz_id=quiz.quiz_id) }}"><input type="button"
                            value="Add Question"></a></td>
            </tr>
           
        </table>
        {% endfor %}
    </div>
    <div>
        <table>
            <tr>
                
                <td><a href="{{ url_for('create_quiz') }}"><input type="button" value="Add quiz"></a></td>
            </tr>
        </table>
    </div>
</center>
{% endblock %}