{% extends 'index.html' %}
{% block title %} Quiz {{ action }} {% endblock %}

{% block navbar %}
{% include "admin-navbar.html" %}
{% endblock %}

{% block content %}
<center>
    <h2>{{ action }} Quiz </h2>
    <form method="POST">
        <div>
            <table>
                {% if request_path.rstrip('/') == "/admindb/quiz_dashboard/create_quiz" %}
                 {% with messages = get_flashed_messages() %}
                 {% if messages %}
                 {% for message in messages %}
                 <p>{{ message }}</p>
                 {% endfor %}
                 {% endif %}
                 {% endwith %}
                 {% endif %}
                <tr>
                    <td><label for="quiz_chap_name">Chapter Name:</label></td>
                    <td><select name="quiz_chap_name" id="quiz_chap_name">
                            {% for chapter in chapters %}

                            <option value="{{ chapter.chap_id }}" 
                            {% if quiz and quiz.chap_id==chapter.chap_id %}selected{% endif %} data-id="{{ chapter.chap_id }}">
                            {{ chapter.chap_title }}
                            </option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>

                    <td><label for="quiz_chap_id">Chapter ID:</label></td>
                    <td><input type="text" name="quiz_chap_id" id="quiz_chap_id"
                            value="{{ quiz.chap_id if quiz else chapters[0].chap_id  }}" readonly>
                    </td>

                </tr>
                <tr>
                    <td><label for="quiz_title">Quiz Title</label></td>
                    <td><input type="text" name="quiz_title" id="quiz_title"
                            value="{{ quiz.quiz_title if quiz else quiz_title }}" readonly></td>
                </tr>
                <tr>
                    <td><label for="quiz_date">Quiz Start Date:</label></td>
                    <td><input type="date" name="quiz_date" id="quiz_date" value="{{ quiz.quiz_date if quiz else '' }}">
                    </td>
                </tr>
                <tr>
                    <td><label for="quiz_duration_hours">Quiz Duration:</label></td>
                    <td><input type="number" name="quiz_duration_hours" id="quiz_duration_hours" min="0" max="3"
                           value="{{ quiz.quiz_time//60 if quiz else '' }}" placeholder="Hours" required>
                        <input type="number" name="quiz_duration_minute" id="quiz_duration_minute" min="0" max="59"
                        value="{{ quiz.quiz_time%60 if quiz else '' }}" placeholder="Minutes" required>
                    </td>

                </tr>
                <tr>
                    <td><input type="submit" value="{{ action }} Quiz"></td>
                    <td><a href="{{ url_for('quiz_dashboard') }}"><button type="button">Cancel</button></a></td>
                </tr>
            </table>
    </form>
    </div>
</center>
{% endblock %}