{% extends "index.html" %}
{% block title %} Registration {% endblock %}

{% block content %}
<center>
    <h1>Welcome to Quiz Master</h1>
    <h3>Registration Page</h3>
    <form method="POST" action="{{ url_for('registration') }}">
        {% if request_path.rstrip('/') == "/registration"%}
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        {% for category,message in messages %}
        <p class="flash-message {{ category }}">{{ message }}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% endif %}
        
        <table>
            <tr>
                <td><label for="email">Username (Email):</label></td>
                <td colspan="2"><input type="email" id="email" name="email" placeholder="Enter your email-ID" required></td>
                
            </tr>
            <tr>
                <td><label for="password">Password:</label></td>
                <td colspan="2"><input type="password" id="password" name="password" placeholder="Create a password" required></td>
                
            </tr>
            <tr>
                <td><label for="username">Name:</label></td>
                <td colspan="2"><input type="text" id="username" name="username" placeholder="Enter your name" required></td>
                
            </tr>
            <tr>
                <td><label for="qualification">Qualification:</label></td>
                <td colspan="2"><input type="text" id="qualification" name="qualification" placeholder="Enter your qualification" required></td>
                
            </tr>
            <tr>
                <td><label for="gender">Gender:</label></td>
                <td>
                    <select name="gender" id="gender" required>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="dob">Date of Birth:</label></td>
                <td><input type="date" id="dob" name="dob" required></td>
            </tr>
            <tr>
                <td><input type="submit" value="Register"></td>
                <td><input type="reset" value="Reset"></td>
                <td><a href="{{ url_for('Login') }}"><input type="button" value="Existing User?"></a></td>
            </tr>
        </table>
    </form>
</center>
{% endblock %}
