{% extends 'index.html' %}
{% block title %} Question {{ action }} {% endblock %}

{% block navbar %}
{% include "admin-navbar.html" %}
{% endblock %}

{% block content %}
<center>
    <div>
        
    </div>

    <div id="admin_users">
        <table>
            <tr>
                <td> User Id </td>
                <td> User Name </td>
                <td> Average Score </td>
            </tr>
        {% for user in users %}
        <tr>
            <td> {{ user.id }}</td>
            <td> {{ user.username }}</td>
            <td> {{ user.scores }}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
    <div id="chartData"
     data-bar-x-subjects='{{ bar_X_subjects | tojson | safe }}'
     data-bar-y-scores='{{ bar_y_scores | tojson | safe }}'
     data-bar-colors='{{ bar_Colors | tojson | safe }}'
     data-pie-x-subjects='{{ pie_X_subjects | tojson | safe }}'
     data-pie-y-scores='{{ pie_y_scores | tojson | safe }}'
     data-pie-colors='{{ pie_Colors | tojson | safe }}'>
</div>
    <canvas id="barChart"></canvas>
    <canvas id="pieChart"></canvas>


    
    
</center>
{% endblock %}