{% extends 'index.html' %}
{% block title %} Summary{% endblock %}

{% block navbar %}
{% include "admin-navbar.html" %}
{% endblock %}

{% block content %}
<center>
    
    <div >
        <table id="admin_users">
            <tr>
                <th> User Id </th>
                <th> User Name </th>
                <th> Average Score </th>
            </tr>
            {% for user in users %}
            <tr>
                <td> {{ user.id }}</td>
                <td> {{ user.username }}</td>
        
                {% set user_scores = total_score | selectattr("user_score_id", "equalto", user.id) | map(attribute="score_total") | list %}
                {% set total = user_scores | sum %}
                {% set count = user_scores | length %}
                
                {% if count > 0 %}
                    {% set average_score = total / count %}
                    <td>{{ average_score | round(2) }}</td>
                {% else %}
                    <td> No Score </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>

       
    </div>
    <div id="chartData" data-bar-x-subjects='{{ bar_X_subjects | tojson | safe }}'
        data-bar-y-scores='{{ bar_y_scores | tojson | safe }}' data-bar-colors='{{ bar_Colors | tojson | safe }}'
        data-pie-x-subjects='{{ pie_X_subjects | tojson | safe }}'
        data-pie-y-scores='{{ pie_y_scores | tojson | safe }}' data-pie-colors='{{ pie_Colors | tojson | safe }}'>
    </div>
    
    <div class="chart-container">
        <div >
            <canvas id="barChart"></canvas>
        </div>
        <div >
            <canvas id="pieChart"></canvas>
        </div>
    </div>




</center>
{% endblock %}