{% extends 'index.html' %}
{% block title %} Summary {% endblock %}

{% block navbar %}
{% include "user-navbar.html" %}
{% endblock %}

{% block content %}
<center>
    <div>

    </div>


    <div id="UserChartData" data-bar-x-subjects='{{ bar_X_subjects | tojson | safe }}'
        data-bar-y-attemps='{{ bar_y_attemps | tojson | safe }}' data-bar-colors='{{ bar_Colors | tojson | safe }}'
        data-pie-x-month='{{ pie_X_month | tojson | safe }}'
        data-pie-y-user-att='{{ pie_y_user_att | tojson | safe }}' data-pie-colors='{{ pie_Colors | tojson | safe }}'>
    </div>
    
    <div class="chart-container">
        <div >
            <canvas id="UserBarChart"></canvas>
        </div>
        <div >
            <canvas id="UserPieChart"></canvas>
        </div>
    </div>




</center>
{% endblock %}