{% extends 'index.html' %}

{% block content %}

<div id="navbar" class="User-navbar">
    <div id="home" class="User-home">
        Home
    </div>
    <div id="quiz" class="User-quiz">
        Quiz
    </div>
    <div id="summary" class="User">
        Summary
    </div>
    <div id="logout" class="User-logout">
        Logout
    </div>
    <div id="search" class="User-search">
        <input type="search" placeholder="Search here">
    </div>
    <div>Welcome {{ User }}</div>
</div>

<div></div>




{% endblock %}