{% extends 'index.html' %}
{% block title %} Start Quiz {% endblock %}

{% block navbar %}
{% include 'user-navbar.html' %}
{% endblock %}

{% block content %}
<center>
    <h2> Quiz Scores</h2>
    <table id="user-table-score">
            <tr>
            <th>Quiz Id</th>
            <th>No.of Questions</th>
            <th>Date</th>
            <th>Score</th>
            </tr>
            {% for  score in  scores %}
            <tr>
            <td>{{ score.quiz_score_id }}</td>
            <td>{{score.No_of_question}}</td>
            <td>{{score.score_time_stamp.strftime('%d-%m-%Y %H:%M')}}</td>
            <td>{{score.score_total}}</td>
            </tr>
            {% endfor %}

    </table>
</center>
{% endblock %}