{% extends 'index.html' %}
{% block title %} Question {{ action }} {% endblock %}

{% block navbar %}
{% include "user-navbar.html" %}
{% endblock %}

{% block content %}
<center>
    <div>

    </div>

    <div id="users">
        <table>
            <tr>
                <td> User Id </td>
                <td> User Name </td>
                <td> Average Score </td>
            </tr>
            {% for user in users %}
            <tr>
                <td> {{ user.id }}</td>
                <td> {{ user.username }}</td>
        
                {% set user_scores = total_score | selectattr("user_score_id", "equalto", user.id) | map(attribute="score_total") | list %}
                {% set total = user_scores | sum %}
                {% set count = user_scores | length %}
                
                {% if count > 0 %}
                    {% set average_score = total / count %}
                    <td>{{ average_score | round(2) }}</td>
                {% else %}
                    <td> No Score </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>

       
    </div>
   
    <canvas id="barChart"></canvas>
    <canvas id="pieChart"></canvas>




</center>
{% endblock %}