{% extends 'index.html' %}
{% block title %}Dashboard {% endblock %}

{% block navbar %}
{% include 'user-navbar.html' %}
{% endblock %}

{% block content %}
<center>

    <div id="userdashboard">

        <table>
            <h1>Upcoming Quizzes</h1>
            <tr>
                <td>ID</td>
                <td>Quiz Title</td>
                <td>No. of Questions</td>
                <td>Date</td>
                <td>Duration</td>
                <td>Action</td>

            </tr>
            {% for q in quiz %}
            <tr>
                <td>{{ q.quiz_id }}</td>
                <td>{{ q.quiz_title }}</td>
                <td>{{ q.question }}</td>
                <td>{{q.quiz_date}}</td>
                <td>{{q.quiz_time}} Minutes</td>
                <td><a href="{{ url_for('user_view_quiz',quiz_id=q.quiz_id)}}"><button id="viewquiz">View</button></a>
                <td>
                    <a href="{{ url_for('user_start_quiz', quiz_id=q.quiz_id) }}"><button id="startquiz">Start</button></a>
                </td>
                </td>
            </tr>

            {% endfor %}

        </table>

    </div>

</center>
{% endblock %}