{% extends 'index.html' %}
{% block title %} Start Quiz {% endblock %}

{% block navbar %}
{% include 'user-navbar.html' %}
{% endblock %}

{% block content %}
<center id="user_start_quiz">

    <h1>{{ quiz.quiz_title }}</h1>
    <h3 id="time">{{ quiz.quiz_time if questions else "" }}{{ ":00" if questions else "" }}</h3>

    <table id="quiz-container-table">
        <div id="quiz-container">
            <tr>
                <th>Question No: <span id="question_number">1</span></th>
            </tr>
            <tr>
                <td id="question_statement"></td>
            </tr>
            <tr>
                <td>

                    <div id="options_container"></div>
                </td>
            </tr>

            <tr>
                <td style="display: flex; gap: 10px;"><button onclick="prevQuestion()">Previous Question</button>
                    <button onclick="nextQuestion()">Save and Next</button>
                    <p style="font-weight: bold;">Selected Answer: <span id="selected-option"></p></td>
                
            </tr>

            <tr>
                <td style="display: flex; gap: 10px;"><button type="submit" id="Submit">Submit</button>
                    <a href="{{url_for('userdb')}}"><button>Cancel</button></a></td>
                
            </tr>
        </div>
    </table>

    <div id="question_data" style="display: none;">
        {% for q in questions %}
        <div class="question-data" data-id="{{q.ques_id}}" data-question="{{q.ques_statement}}"
            data-options="{{ q.options | map(attribute='op_statement')|join(',') }}">
        </div>
        {% endfor %}

    </div>




    <div class="popup-overlay"></div>
    <div class="popup-box">
        <h3>Are you sure want to submit this quiz? </h3>
        <button type="submit" id="quiz_submit" onclick='submitQuiz("{{ quiz.quiz_id }}")'>Submit</button>
        <button type="submit" id="Cancel">Cancel</button>
    </div>


</center>
{% endblock %}